*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    border: 1px solid rgba(59, 59, 59, 0.404);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .4);
    width: 400px;
    border-radius: 20px;
}
.display-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.display{
    margin-top: 35px;
    padding: 10px;
    width: 330px;
    height: 80px;
    background-color: rgba(116, 151, 57, 0.815);
    border-radius: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.keys-container{
    margin-top: 25px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 330px;
    height: 412px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5px 10px;
}
.key{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    border: 1px solid rgba(0, 0, 0, .4);
    flex: 1 1 22%;
    height: 18%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s;
    user-select: none;
}
.key:hover{
    scale: 1.1;
}
.key:active{
    scale: 1;
}
.clear-all{
    background-color: gray;
    color: white;
    border: none;
    font-size: 15px;
    text-align: center;
}
.clear{
    background-color: gray;
    color: white;
    border: none;
    font-size: 15px;
    text-align: center;
}
#negative{
    font-size: 15px;
    background-color: gray;
    color: white;
    border: none;
}
#square, #cube{
    font-size: 16px;
    background-color: gray;
    color: white;
}
#decimal{
    background-color: gray;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.lower{
    margin-top: 2px;
}
.higher{
    margin-bottom: 13px;
    font-size: 25px;
}
#equal{
    color: black;
    background-color: white; 
}
.operator{
    background-color: rgb(219, 58, 0);
    color: white;
    border: none;
}
.extended{
    border: none;
}
.operator-click{
    background-color: black;
    color: rgb(219, 58, 0);
}
.info{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    visibility: hidden;
}